*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.div-header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

header{
    z-index: 999;
    position: relative;
}

.header_1{
    background-color: white;
    
}
.wrap{
    overflow: hidden;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}

.container_header{
    display: flex;
    align-items: center;
    padding: 36px 0;
    justify-content: space-between;
}



.logo{
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.h1_header{
    color: rgb(5, 95, 116);
font-family: cursive;
font-size: 35px;
font-weight: 900;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}

.nav_list{
    display: flex;
    list-style: none ;
}

.nav_item{
    margin-right: 32px;
    color: rgb(5, 95, 116);
font-family: cursive;
font-size: 20px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
transition: .3s;
}

.nav_item:hover{
    color: rgb(145, 218, 235);
}
a{
    color: rgb(5, 95, 116);
}
a:hover{
    color: rgb(145, 218, 235);
}




.header_2{
    background-color: rgb(5, 95, 116);
    z-index: 998;
}

.container_header_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_text_div{
    margin-right: 32px;
    color: rgb(255, 255, 255);
font-family: cursive;
font-size: 20px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
transition: .3s;
}


.header_list{
list-style: none;
display: flex;
}

.header_item{
    margin-right: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header_img{
   max-width: 30px;
}

.header_img:hover{
    filter: brightness(80%);
}





.hero-block{
    background: rgb(193,215,229);
}
.container_hero-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 66px 0 90px;
}

.text_section_1{
    margin-right: 32px;
    color: rgb(0, 21, 138);
font-family: American Typewriter, serif;
font-size: 30px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
transition: .3s;
margin-bottom: 29px;
}
.strong{
    color: rgb(0, 38, 255);
    font-weight: 600;
}

.main_img{
    max-width: 600px;
    align-items: center;
    justify-content: right;
}

.table__div{
    margin-bottom: 70px;
}






 .container_section_2{
    justify-content: space-between;
    align-items: center;
    padding: 47px 0 90px;
 }


.yslugi-list{
    list-style: none;
    
}

.s2{
    display: flex;
}

.u_div1{
    width: 500px;
    height: 230px;
    background: rgb(193,215,229);
    border-radius: 10px;
    padding: 20px 20px 20px;
    margin-right: 100px;
    margin-top: 20px;
}
.u1{
    margin-bottom: 300px;
}
.u2{
    margin-bottom: 300px;
}
.u_div1:hover{
    -webkit-box-shadow: 11px 10px 8px 0px rgba(11, 82, 137, 0.33);
-moz-box-shadow: 11px 10px 8px 0px rgba(11, 82, 137, 0.33);
box-shadow: 11px 10px 8px 0px rgba(11, 82, 137, 0.33);
}

.u_list{
    list-style: none;
}

.u_div2{
    width: 500px;
    height: 230px;
    background: rgba(240, 245, 166, 0.863);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px 20px 20px;
    margin-top: 300px;
}

.u_div2:hover{
    -webkit-box-shadow: 11px 10px 8px 0px rgba(88, 82, 2, 0.33);
-moz-box-shadow: 11px 10px 8px 0px rgba(88, 82, 2, 0.33);
box-shadow: 11px 10px 8px 0px rgba(88, 82, 2, 0.33)ж
}


.zoom-effect {
    transition: transform 0.5s;
}
  
  .zoom-effect:hover {
    transform: scale(1.1);
    z-index: 1;
}




.contacts__title{
    color: rgb(5, 95, 116);
    font-family: cursive;
    font-size: 75px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    margin-top: 29px;
}
.contacts__text{
    color: rgb(5, 95, 116);
    font-family: cursive;
    font-size: 30px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
    transition: .3s;
    margin-top: 29px;
}
.contacts{
    background: rgb(193,215,229);
    padding-top: 40px;
}


.is-active{
    display: block;
}
.burger{
    width: 60px;
    height: 50px;
    background-color: transparent;
    border: none;
    display: none;
    margin-right: 10px;
}
.burger__line{
    width: 100%;
    height: 10px;
    background-color:  rgb(5, 95, 116);
    margin-bottom: 10px;
}
.active .burger__line1{
    transform: translate(2px,20px) rotate(45deg);
}
.active .burger__line2{
    opacity: 0;
}
.active .burger__line3{
    transform: translate(2px,-20px) rotate(-45deg);
}


















.table__title{
    color: rgb(5, 95, 116);
font-family: cursive;
font-size: 34px;
font-weight: 500;
line-height: 44px;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
transition: .3s;
margin-bottom: 29px;
margin-top: 30px;
}
.tit{
    background-color: rgb(5, 95, 116);
    width: 100%;
    height: 40px;
}


.titles__p{
    
    color: rgb(248, 250, 250);
font-family: cursive;
font-size: 20px;
font-weight: 500;
line-height: 44px;
letter-spacing: 0%;
text-align: left;
justify-content: center;
cursor: pointer;
transition: .3s;
margin-left: 10px;
}

.price__list{
    list-style: none;
}

.prices-item-titles{
    color: rgb(5, 95, 116);
font-family:  Andale Mono, monospace;
font-size: 20px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
transition: .3s;
margin-left: 0;
}
.p-i-t{
    width: 80%;
}
.item-price{
    color: rgb(5, 95, 116);
font-family:  Andale Mono, monospace;
font-size: 20px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: right;
cursor: pointer;
transition: .3s;
}
.i-p{
    width: 20%;
}
.line-blocks{
   display: flex;
   width: 100%;
   margin: 10px 0;
}
.price__table{
    width: 100%;
}


.yslugi__text{
    color: rgb(5, 95, 116);
font-family:  Andale Mono, monospace;
font-size: 23px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
transition: .3s;
}
.u_zag{
    color: rgb(5, 95, 116);
font-family:  Andale Mono, monospace;
font-size: 36px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
cursor: pointer;
margin-bottom: 13px;
}
.table_title{
    font-style: Andale Mono, monospace;
    color: rgb(5, 95, 116);
font-size: 30px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0%;
text-align: center;
cursor: pointer;
transition: .3s;
margin-bottom: 29px;
margin-top: 30px;
}






@media (min-width:320px) and (max-width: 349px){
    .container{
        max-width: 320px;
    }
    .nav{
        flex-direction: column;
        position: absolute;
        height: 350px;
        background-color: rgb(255, 255, 255);
        width: 250px;
        padding: 5px;
        top: 50px;
        right: 20px;
        transform: translate(300%, 100%);
        transition: 1s;
        z-index: 1000;
    }
    .nav_list{
        flex-direction: column;
    }
    .nav_item{
        margin-bottom: 30px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .burger{
        display: block;
        z-index: 1001;
     }
    .container_hero-block{
        flex-direction: column;
        align-items: center;
    }
    .text_section_1{
       text-align: center;
    }
    .hero-block_title{
        text-align: center;
        margin-top: 35px;
    }
    .header_text{
        margin-right: 32px;
        color: rgb(255, 255, 255);
        font-family: cursive;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: center;
        cursor: pointer;
        transition: .3s;
    }
    .main_img{
        max-width: 300px;
    }
    .u_div1{
        width: 260px;
    height: 190px;
    background: rgb(193,215,229);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px 20px 20px;
    margin-left: 10px;
    }
    .u_div2{
        width: 260px;
    height: 190px;
    background: rgba(240, 245, 166, 0.863);
    border-radius: 10px;
    padding: 20px 20px 20px;
    margin-bottom: 10px;
    margin-top: 19px;
    margin-left: 7px;
    }
    .contacts{
        padding: 10px;
    }
    .s2{
        display: block;
    }
    .div_s3{
        flex-direction: column;
        align-items: center;
    }
    /*.photo2{
        display: none;
    }
    .photo3{
        display: none;
    }
    .burger{
        display: block;
    }*/
    .nav-active{
        transform: translateX(40px) translateY(40px);
    }
    .u2{
        background:rgba(240, 245, 166, 0.863);
    }
    .u4{
        background:rgba(240, 245, 166, 0.863);
    }
    .u5{
        background:rgb(193,215,229);
    }
    .yslugi__text{
    font-size: 14px;
    }
    .u_zag{
    font-size: 23px;
    }
    /*.collectiv__img{
        max-width: 220px;
    }
    .triangle-right {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 30px solid #035661;
        margin-top: 170px;
        border-right: 1px solid transparent;
        background-color: rgb(193,215,229);
    }
    .triangle-left {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 30px solid #035661;
        border-left: 1px solid transparent;
        margin-top: 170px;
        background-color: rgb(193,215,229);
    }
    .contacts__title{
        font-size: 50px;
    }*/
} 
@media (min-width:350px) and (max-width: 359px){
            .container{
                max-width: 344px;
            }
            .yslugi__text{
                font-size: 16px;
                }
                .u_zag{
                font-size: 26px;
                }
            .nav{
                flex-direction: column;
                position: absolute;
                height: 350px;
                background-color: rgb(255, 255, 255);
                width: 250px;
                padding: 5px;
                top: 50px;
                right: 20px;
                transform: translate(300%, 100%);
                transition: 1s;
                z-index: 1000;
            }
            .nav_list{
                flex-direction: column;
            }
            .nav_item{
                margin-bottom: 30px;
                margin-left: 20px;
                margin-top: 10px;
            }
            .burger{
                display: block;
                z-index: 1001;
             }
            .container_hero-block{
                flex-direction: column;
                align-items: center;
            }
            .text_section_1{
               text-align: center;
            }
            .hero-block_title{
                text-align: center;
                margin-top: 35px;
            }
            .header_text{
                margin-right: 32px;
                color: rgb(255, 255, 255);
                font-family: cursive;
                font-size: 16px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: center;
                cursor: pointer;
                transition: .3s;
            }
            .main_img{
                max-width: 300px;
            }
            .u_div1{
                width: 280px;
            height: 190px;
            background: rgb(193,215,229);
            margin-bottom: 10px;
            border-radius: 10px;
            padding: 20px 20px 20px;
            margin-left: 10px;
            }
            .u_div2{
                width: 280px;
            height: 190px;
            background: rgba(240, 245, 166, 0.863);
            border-radius: 10px;
            padding: 20px 20px 20px;
            margin-bottom: 10px;
            margin-top: 19px;
            margin-left: 7px;
            }
            .contacts{
                padding: 10px;
            }
            .s2{
                display: block;
            }
            .div_s3{
                flex-direction: column;
                align-items: center;
            }
            /*.photo2{
                display: none;
            }
            .photo3{
                display: none;
            }*/
            .burger{
                display: block;
            }
            .nav-active{
                transform: translateX(40px) translateY(40px);
            }
            .u2{
                background:rgba(240, 245, 166, 0.863);
            }
            .u4{
                background:rgba(240, 245, 166, 0.863);
            }
            .u5{
                background:rgb(193,215,229);
            }
            /*.collectiv__img{
                max-width: 240px;
            }
            .triangle-right {
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 30px solid #035661;
                margin-top: 170px;
                border-right: 1px solid transparent;
                background-color: rgb(193,215,229);
            }
            .triangle-left {
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-right: 30px solid #035661;
                border-left: 1px solid transparent;
                margin-top: 170px;
                background-color: rgb(193,215,229);
            }*/
}
@media (min-width:360px) and (max-width: 379px){
            .container{
                max-width: 360px;
            }
            .nav_list{
                flex-direction: column;
            }
            .nav_item{
                margin-bottom: 30px;
                margin-left: 20px;
                margin-top: 10px;
            }
            .yslugi__text{
                font-size: 16px;
                }
                .u_zag{
                font-size: 26px;
                }
            .nav{
                flex-direction: column;
                position: absolute;
                height: 350px;
                background-color: rgb(255, 255, 255);
                width: 250px;
                padding: 5px;
                top: 50px;
                right: 20px;
                transform: translate(300%, 100%);
                transition: 1s;
                z-index: 1000;
              
            }
            .burger{
                display: block;
                z-index: 1001;
             }
            .container_hero-block{
                flex-direction: column;
                align-items: center;
            }
            .text_section_1{
               text-align: center;
            }
            .hero-block_title{
                text-align: center;
                margin-top: 35px;
            }
            .header_text{
                margin-right: 32px;
                color: rgb(255, 255, 255);
                font-family: cursive;
                font-size: 16px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: center;
                cursor: pointer;
                transition: .3s;
            }
            .main_img{
                max-width: 350px;
            }
            .u_div1{
                width: 290px;
            height: 190px;
            background: rgb(193,215,229);
            margin-bottom: 10px;
            border-radius: 10px;
            padding: 20px 20px 20px;
            margin-left: 20px;
            }
            .u_div2{
                width: 290px;
            height: 190px;
            background: rgba(240, 245, 166, 0.863);
            border-radius: 10px;
            padding: 20px 20px 20px;
            margin-bottom: 10px;
            margin-top: 15px;
            margin-left: 20px;
            }
            .contacts{
                padding: 10px;
            }
            .s2{
                display: block;
            }
            /*.div_s3{
                flex-direction: column;
                align-items: center;
            }
            .photo3{
                display: none;
            }
            .photo2{
                display: none;
            }*/
            .burger{
                display: block;
            }
            .nav-active{
                transform: translateX(40px) translateY(40px);
            }
            .u2{
                background:rgba(240, 245, 166, 0.863);
            }
            .u4{
                background:rgba(240, 245, 166, 0.863);
            }
            .u5{
                background:rgb(193,215,229);
            }
            /*.collectiv__img{
                max-width: 250px;
            }
            .triangle-right {
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 30px solid #035661;
                margin-top: 170px;
                border-right: 1px solid transparent;
                background-color: rgb(193,215,229);
            }
            .triangle-left {
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-right: 30px solid #035661;
                border-left: 1px solid transparent;
                margin-top: 170px;
                background-color: rgb(193,215,229);
            }*/
} 
@media (min-width:380px) and (max-width: 399px){
        .container{
            max-width: 375px;
        }
        .nav_list{
            flex-direction: column;
        }
        .yslugi__text{
            font-size: 16px;
            }
            .u_zag{
            font-size: 26px;
            }
        .nav_item{
            margin-bottom: 30px;
            margin-left: 20px;
            margin-top: 10px;
        }
        .nav{
            flex-direction: column;
            position: absolute;
            height: 350px;
            background-color: rgb(255, 255, 255);
            width: 250px;
            padding: 5px;
            top: 50px;
            right: 20px;
            transform: translate(300%, 100%);
            transition: 1s;
            z-index: 1000;
        }
        .main_img{
            width: 350px;
        }
        .burger{
            display: block;
            z-index: 1001;
         }
        .container_hero-block{
            flex-direction: column;
            align-items: center;
        }
        .text_section_1{
           text-align: center;
        }
        .hero-block_title{
            text-align: center;
            margin-top: 35px;
        }
        .header_text{
            margin-right: 32px;
            color: rgb(255, 255, 255);
            font-family: cursive;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: center;
            cursor: pointer;
            transition: .3s;
        }
        .main_img{
            max-width: 500px;
        }
        .u_div1{
            width: 300px;
        height: 160px;
        background: rgb(193,215,229);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-left: 20px;
        }
        .u_div2{
            width: 300px;
        height: 160px;
        background: rgba(240, 245, 166, 0.863);
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-bottom: 10px;
        margin-top: 15px;
        margin-left: 20px;
        }
        .s2{
            display: block;
        }
        /*.div_s3{
            flex-direction: column;
            align-items: center;
        }
        .photo3{
            display: none;
        }
        .photo2{
            display: none;
        }
        .collectiv__img{
            max-width: 250px;
        }
        .triangle-right {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 30px solid #035661;
            margin-top: 170px;
            border-right: 1px solid transparent;
            background-color: rgb(193,215,229);
        }
        .triangle-left {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 30px solid #035661;
            border-left: 1px solid transparent;
            margin-top: 170px;
            background-color: rgb(193,215,229);
        }*/
        .burger{
            display: block;
        }
        .nav-active{
            transform: translateX(40px) translateY(40px);
        }
        .u2{
            background:rgba(240, 245, 166, 0.863);
        }
        .u4{
            background:rgba(240, 245, 166, 0.863);
        }
        .u5{
            background:rgb(193,215,229);
        }
        .contacts{
            padding: 10px;
        }
}
@media (min-width:400px) and (max-width: 419px){
            .container{
                max-width: 390px;
            }
            .nav_list{
                flex-direction: column;
            }
            .nav_item{
                margin-bottom: 30px;
                margin-left: 20px;
                margin-top: 10px;
            }
            .yslugi__text{
                font-size: 16px;
                }
                .u_zag{
                font-size: 26px;
                }
            .nav{
                flex-direction: column;
                position: absolute;
                height: 350px;
                background-color: rgb(255, 255, 255);
                width: 250px;
                padding: 5px;
                top: 50px;
                right: 20px;
                transform: translate(300%, 100%);
                transition: 1s;
                z-index: 1000;
              
            }
            .burger{
                display: block;
                z-index: 1001;
             }
            .container_hero-block{
                flex-direction: column;
                align-items: center;
            }
            .text_section_1{
               text-align: center;
            }
            .hero-block_title{
                text-align: center;
                margin-top: 35px;
            }
            .header_text{
                margin-right: 32px;
                color: rgb(255, 255, 255);
                font-family: cursive;
                font-size: 16px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: center;
                cursor: pointer;
                transition: .3s;
            }
            .main_img{
                max-width: 360px;
            }
            .u_div1{
                width: 310px;
            height: 190px;
            background: rgb(193,215,229);
            margin-bottom: 10px;
            border-radius: 10px;
            padding: 20px 20px 20px;
            margin-left: 20px;
            }
            .u_div2{
                width: 310px;
            height: 190px;
            background: rgba(240, 245, 166, 0.863);
            border-radius: 10px;
            padding: 20px 20px 20px;
            margin-bottom: 10px;
            margin-top: 15px;
            margin-left: 20px;
            }
            .contacts{
                padding: 10px;
            }
            .s2{
                display: block;
            }
            /*.div_s3{
                flex-direction: column;
                align-items: center;
            }
            .photo3{
                display: none;
            }
            .photo2{
                display: none;
            }*/
            .burger{
                display: block;
            }
            .nav-active{
                transform: translateX(40px) translateY(40px);
            }
            .u2{
                background:rgba(240, 245, 166, 0.863);
            }
            .u4{
                background:rgba(240, 245, 166, 0.863);
            }
            .u5{
                background:rgb(193,215,229);
            }
            /*.collectiv__img{
                max-width: 280px;
            }
            .triangle-right {
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 30px solid #035661;
                margin-top: 170px;
                border-right: 1px solid transparent;
                background-color: rgb(193,215,229);
            }
            .triangle-left {
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-right: 30px solid #035661;
                border-left: 1px solid transparent;
                margin-top: 170px;
                background-color: rgb(193,215,229);
            }*/
}  
@media (min-width:420px) and (max-width: 449px){
        .container{
            max-width: 414px;
        }
        .nav_list{
            flex-direction: column;
        }
        .nav_item{
            margin-bottom: 30px;
            margin-left: 20px;
            margin-top: 10px;
        }
        .yslugi__text{
            font-size: 16px;
            }
            .u_zag{
            font-size: 26px;
            }
        .nav{
            flex-direction: column;
            position: absolute;
            height: 350px;
            background-color: rgb(255, 255, 255);
            width: 250px;
            padding: 5px;
            top: 50px;
            right: 20px;
            transform: translate(300%, 100%);
            transition: 1s;
            z-index: 1000;
        }
        .burger{
            display: block;
            z-index: 1001;
         }
        .container_hero-block{
            flex-direction: column;
            align-items: center;
        }
        .text_section_1{
           text-align: center;
        }
        .hero-block_title{
            text-align: center;
            margin-top: 35px;
        }
        .header_text{
            margin-right: 32px;
            color: rgb(255, 255, 255);
            font-family: cursive;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: center;
            cursor: pointer;
            transition: .3s;
        }
        .main_img{
            max-width: 400px;
        }
        .u_div1{
            width: 330px;
        height: 190px;
        background: rgb(193,215,229);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-left: 20px;
        }
        .u_div2{
            width: 330px;
        height: 190px;
        background: rgba(240, 245, 166, 0.863);
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-bottom: 10px;
        margin-top: 15px;
        margin-left: 20px;
        }
        .contacts{
            padding: 10px;
        }
        .s2{
            display: block;
        }
        /*.div_s3{
            flex-direction: column;
            align-items: center;
        }
        .photo3{
            display: none;
        }
        .photo2{
            display: none;
        }*/
        .burger{
            display: block;
        }
        .nav-active{
            transform: translateX(40px) translateY(40px);
        }
        .u2{
            background:rgba(240, 245, 166, 0.863);
        }
        .u4{
            background:rgba(240, 245, 166, 0.863);
        }
        .u5{
            background:rgb(193,215,229);
        }
        /*.collectiv__img{
            max-width: 300px;
        }
        .triangle-right {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 30px solid #035661;
            margin-top: 170px;
            border-right: 1px solid transparent;
            background-color: rgb(193,215,229);
        }
        .triangle-left {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 30px solid #035661;
            border-left: 1px solid transparent;
            margin-top: 170px;
            background-color: rgb(193,215,229);
        }*/
       
}
@media (min-width:450px) and (max-width: 539px){
        .container{
            max-width: 430px;
        }
        .nav_list{
            flex-direction: column;
        }
        .nav_item{
            margin-bottom: 30px;
            margin-left: 20px;
            margin-top: 10px;
        }
        .yslugi__text{
            font-size: 16px;
            }
            .u_zag{
            font-size: 26px;
            }
        .nav{
            flex-direction: column;
            position: absolute;
            height: 350px;
            background-color: rgb(255, 255, 255);
            width: 250px;
            padding: 5px;
            top: 50px;
            right: 20px;
            transform: translate(300%, 100%);
            transition: 1s;
            z-index: 1000;
          
        }
        .burger{
            display: block;
            z-index: 1001;
         }
        .container_hero-block{
            flex-direction: column;
            align-items: center;
        }
        .text_section_1{
           text-align: center;
        }
        .hero-block_title{
            text-align: center;
            margin-top: 35px;
        }
        .header_text{
            margin-right: 32px;
            color: rgb(255, 255, 255);
            font-family: cursive;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: center;
            cursor: pointer;
            transition: .3s;
        }
        .main_img{
            max-width: 400px;
        }
        .u_div1{
            width: 350px;
        height: 190px;
        background: rgb(193,215,229);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-left: 20px;
        }
        .u_div2{
            width: 350px;
        height: 190px;
        background: rgba(240, 245, 166, 0.863);
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-bottom: 10px;
        margin-top: 15px;
        margin-left: 20px;
        }
        .contacts{
            padding: 10px;
        }
        .s2{
            display: block;
        }
        /*.div_s3{
            flex-direction: column;
            align-items: center;
        }
        .photo3{
            display: none;
        }
        .photo2{
            display: none;
        }*/
        .burger{
            display: block;
        }
        .nav-active{
            transform: translateX(40px) translateY(40px);
        }
        .u2{
            background:rgba(240, 245, 166, 0.863);
        }
        .u4{
            background:rgba(240, 245, 166, 0.863);
        }
        .u5{
            background:rgb(193,215,229);
        }
        /*.collectiv__img{
            max-width: 300px;
        }
        .triangle-right {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 30px solid #035661;
            margin-top: 170px;
            border-right: 1px solid transparent;
            background-color: rgb(193,215,229);
        }
        .triangle-left {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 30px solid #035661;
            border-left: 1px solid transparent;
            margin-top: 170px;
            background-color: rgb(193,215,229);
        }*/
} 
@media (min-width:540px) and (max-width: 749px){
        .container{
            max-width: 540px;
        }
        .burger__line{
            display: block;
        }
        .yslugi__text{
            font-size: 18px;
            }
            .u_zag{
            font-size: 29px;
            }
        .nav{
            flex-direction: column;
            position: absolute;
            height: 350px;
            background-color: rgb(255, 255, 255);
            width: 250px;
            padding: 5px;
            top: 50px;
            right: 20px;
            transform: translate(300%, 100%);
            transition: 1s;
            z-index: 1000;
        }
        .nav_list{
            flex-direction: column;
        }
        .nav_item{
            margin-bottom: 30px;
            margin-left: 20px;
            margin-top: 10px;
        }
        .burger{
            display: block;
            z-index: 1001;
         }
        .container_hero-block{
            flex-direction: column;
            align-items: center;
        }
        .text_section_1{
           text-align: center;
        }
        .hero-block_title{
            text-align: center;
            margin-top: 35px;
        }
        .header_text{
            margin-right: 32px;
            color: rgb(255, 255, 255);
            font-family: cursive;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: center;
            cursor: pointer;
            transition: .3s;
        }
        .main_img{
            max-width: 400px;
        }
        .u_div1{
            width: 480px;
        height: 190px;
        background: rgb(193,215,229);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-left: 10px;
        }
        .u_div2{
            width: 480px;
        height: 190px;
        background: rgba(240, 245, 166, 0.863);
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-bottom: 10px;
        margin-top: 19px;
        margin-left: 7px;
        }
        .contacts{
            padding: 10px;
        }
        .s2{
            display: block;
        }
       /*.div_s3{
            flex-direction: column;
            align-items: center;
        }
        .photo2{
            display: none;
        }
        .photo3{
            display: none;
        }*/
        .burger{
            display: block;
        }
        .nav-active{
            transform: translateX(40px) translateY(40px);
        }
        .u2{
            background:rgba(240, 245, 166, 0.863);
        }
        .u4{
            background:rgba(240, 245, 166, 0.863);
        }
        .u5{
            background:rgb(193,215,229);
        }
        /*.collectiv__img{
            max-width: 300px;
        }
        .triangle-right {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 30px solid #035661;
            margin-top: 170px;
            border-right: 1px solid transparent;
            background-color: rgb(193,215,229);
        }
        .triangle-left {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 30px solid #035661;
            border-left: 1px solid transparent;
            margin-top: 170px;
            background-color: rgb(193,215,229);
        }*/
}
@media (min-width:750px) and (max-width: 839px){
        .container{
            max-width: 720px;
        }
        .burger__line{
            display: block;
        }
        .yslugi__text{
            font-size: 14px;
            }
            .u_zag{
            font-size: 23px;
            }
        .nav_list{
            flex-direction: column;
        }
        .nav_item{
            margin-bottom: 30px;
            margin-left: 20px;
            margin-top: 10px;
        }
        .nav{
            flex-direction: column;
            position: absolute;
            height: 350px;
            background-color: rgb(255, 255, 255);
            width: 250px;
            padding: 5px;
            top: 50px;
            right: 20px;
            transform: translate(300%, 100%);
            transition: 1s;
            z-index: 1000;
        }
        .burger{
            display: block;
            z-index: 1001;
         }
        .container_hero-block{
            flex-direction: column;
            align-items: center;
        }
        .text_section_1{
           text-align: center;
        }
        .hero-block_title{
            text-align: center;
            margin-top: 35px;
        }
        .header_text{
            margin-right: 32px;
            color: rgb(255, 255, 255);
            font-family: cursive;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: center;
            cursor: pointer;
            transition: .3s;
        }
        .main_img{
            max-width: 400px;
        }
        .u_div1{
            width: 260px;
        height: 190px;
        background: rgb(193,215,229);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-left: 10px;
        }
        .u_div2{
            width: 260px;
        height: 190px;
        background: rgba(240, 245, 166, 0.863);
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-bottom: 10px;
        margin-top: 19px;
        margin-left: 7px;
        }
        .contacts{
            padding: 10px;
        }
        .s2{
            display: flex;
        }
        /*.div_s3{
            flex-direction: column;
            align-items: center;
        }
        .photo3{
            display: none;
        }*/
        .burger{
            display: block;
        }
        .nav-active{
            transform: translateX(40px) translateY(40px);
        }
        .u2{
            background:rgba(240, 245, 166, 0.863);
        }
        .u4{
            background:rgba(240, 245, 166, 0.863);
        }
        .u5{
            background:rgb(193,215,229);
        }
        /*.collectiv__img{
            max-width: 300px;
        }
        .triangle-right {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 30px solid #035661;
            margin-top: 170px;
            border-right: 1px solid transparent;
            background-color: rgb(193,215,229);
        }
        .triangle-left {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 30px solid #035661;
            border-left: 1px solid transparent;
            margin-top: 170px;
            background-color: rgb(193,215,229);
        }*/
}
@media (min-width:840px) and (max-width: 859px){
        .container{
            max-width: 820px;
        }
        .burger__line{
            display: none;
        }
        .yslugi__text{
            font-size: 16px;
            }
            .u_zag{
            font-size: 26px;
            }
        .nav{
            flex-direction: column;
            position: absolute;
            height: 350px;
            width: 550px;
            padding: 5px;
            top: 45px;
            right: 0px;
            z-index: 1000;
        }
        .burger{
            display: none;
         }
        .container_hero-block{
            flex-direction: column;
            align-items: center;
        }
        .text_section_1{
           text-align: center;
        }
        .hero-block_title{
            text-align: center;
            margin-top: 35px;
        }
        .header_text{
            margin-right: 32px;
            color: rgb(255, 255, 255);
            font-family: cursive;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: center;
            cursor: pointer;
            transition: .3s;
        }
        .main_img{
            max-width: 400px;
        }
        .u_div1{
            width: 300px;
        height: 190px;
        background: rgb(193,215,229);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-left: 10px;
        }
        .u_div2{
            width: 300px;
        height: 190px;
        background: rgba(240, 245, 166, 0.863);
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-bottom: 10px;
        margin-top: 19px;
        margin-left: 7px;
        }
        .contacts{
            padding: 10px;
        }
        .s2{
            display: flex;
        }
        /*.div_s3{
            flex-direction: column;
            align-items: center;
        }
        .photo3{
            display: none;
        }*/
        .burger{
            display: block;
        }
        .nav-active{
            transform: translateX(40px) translateY(40px);
        }
        .u2{
            background:rgba(240, 245, 166, 0.863);
        }
        .u4{
            background:rgba(240, 245, 166, 0.863);
        }
        .u5{
            background:rgb(193,215,229);
        }
        /*.collectiv__img{
            max-width: 300px;
        }
        .triangle-right {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 30px solid #035661;
            margin-top: 170px;
            border-right: 1px solid transparent;
            background-color: rgb(193,215,229);
        }
        .triangle-left {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 30px solid #035661;
            border-left: 1px solid transparent;
            margin-top: 170px;
            background-color: rgb(193,215,229);
        }*/
}
@media (min-width:860px) and (max-width: 919px){
        .container{
            max-width: 853px;
        }
        .burger__line{
            display: none;
        }
        .nav{
            flex-direction: column;
            position: absolute;
            height: 350px;
            width: 550px;
            padding: 5px;
            top: 45px;
            right: 0px;
            z-index: 1000;
        }
        .yslugi__text{
            font-size: 16px;
            }
            .u_zag{
            font-size: 23px;
            }
        .burger{
            display: none;
         }
        .container_hero-block{
            flex-direction: column;
            align-items: center;
        }
        .text_section_1{
           text-align: center;
        }
        .hero-block_title{
            text-align: center;
            margin-top: 35px;
        }
        .header_text{
            margin-right: 32px;
            color: rgb(255, 255, 255);
            font-family: cursive;
            font-size: 16px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: center;
            cursor: pointer;
            transition: .3s;
        }
        .main_img{
            max-width: 400px;
        }
        .u_div1{
            width: 310px;
        height: 190px;
        background: rgb(193,215,229);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-left: 10px;
        }
        .u_div2{
            width: 310px;
        height: 190px;
        background: rgba(240, 245, 166, 0.863);
        border-radius: 10px;
        padding: 20px 20px 20px;
        margin-bottom: 10px;
        margin-top: 19px;
        margin-left: 7px;
        }
        .contacts{
            padding: 10px;
        }
        .s2{
            display: flex;
        }
        /*.div_s3{
            flex-direction: column;
            align-items: center;
        }
        .photo3{
            display: none;
        }*/
        .burger{
            display: block;
        }
        .nav-active{
            transform: translateX(40px) translateY(40px);
        }
        .u2{
            background:rgba(240, 245, 166, 0.863);
        }
        .u4{
            background:rgba(240, 245, 166, 0.863);
        }
        .u5{
            background:rgb(193,215,229);
        }
        /*.collectiv__img{
            max-width: 300px;
        }
        .triangle-right {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 30px solid #035661;
            margin-top: 170px;
            border-right: 1px solid transparent;
            background-color: rgb(193,215,229);
        }
        .triangle-left {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 30px solid #035661;
            border-left: 1px solid transparent;
            margin-top: 170px;
            background-color: rgb(193,215,229);
        }*/
}
@media (min-width:920px) and (max-width: 1023px){
    .container{
        max-width: 912px;
    }
    .burger__line{
        display: none;
    }
    .nav{
        flex-direction: column;
        position: absolute;
        height: 350px;
        width: 650px;
        padding: 5px;
        top: 10px;
        right: 0px;
        z-index: 1000;
    }
    .burger{
        display: none;
     }
    .container_hero-block{
        flex-direction: column;
        align-items: center;
    }
    .text_section_1{
       text-align: center;
    }
    .hero-block_title{
        text-align: center;
        margin-top: 35px;
    }
    .header_text{
        margin-right: 32px;
        color: rgb(255, 255, 255);
        font-family: cursive;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: center;
        cursor: pointer;
        transition: .3s;
    }
    .main_img{
        max-width: 400px;
    }
    .u_div1{
        width: 350px;
    height: 190px;
    background: rgb(193,215,229);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px 20px 20px;
    margin-left: 10px;
    }
    .u_div2{
        width: 350px;
    height: 190px;
    background: rgba(240, 245, 166, 0.863);
    border-radius: 10px;
    padding: 20px 20px 20px;
    margin-bottom: 10px;
    margin-top: 19px;
    margin-left: 7px;
    }
    .contacts{
        padding: 10px;
    }
    .s2{
        display: flex;
    }
    /*.div_s3{
        flex-direction: column;
        align-items: center;
    }
    .photo3{
        display: none;
    }*/
    .burger{
        display: block;
    }
    .nav-active{
        transform: translateX(40px) translateY(40px);
    }
    .u2{
        background:rgba(240, 245, 166, 0.863);
    }
    .u4{
        background:rgba(240, 245, 166, 0.863);
    }
    .u5{
        background:rgb(193,215,229);
    }
    /*.collectiv__img{
        max-width: 300px;
    }
    .triangle-right {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 30px solid #035661;
        margin-top: 170px;
        border-right: 1px solid transparent;
        background-color: rgb(193,215,229);
    }
    .triangle-left {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 30px solid #035661;
        border-left: 1px solid transparent;
        margin-top: 170px;
        background-color: rgb(193,215,229);
    }*/
}
@media (min-width:1024px) and (max-width:1100px) {
    .container{
        max-width: 1024px;
    }
    .burger__line{
        display: none;
    }
    .nav{
        flex-direction: column;
        position: absolute;
        height: 350px;
        width: 650px;
        padding: 5px;
        top: 45px;
        right: 0px;
        z-index: 1000;
    }
    .burger{
        display: none;
     }
    .container_hero-block{
        flex-direction: column;
        align-items: center;
    }
    .text_section_1{
       text-align: center;
    }
    .hero-block_title{
        text-align: center;
        margin-top: 35px;
    }
    .header_text{
        margin-right: 32px;
        color: rgb(255, 255, 255);
        font-family: cursive;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: center;
        cursor: pointer;
        transition: .3s;
    }
    .container_header{
        align-items: center;
    }
    .main_img{
        max-width: 400px;
    }
    .u_div1{
        width: 400px;
    height: 190px;
    background: rgb(193,215,229);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px 20px 20px;
    margin-left: 10px;
    }
    .u_div2{
        width: 400px;
    height: 190px;
    background: rgba(240, 245, 166, 0.863);
    border-radius: 10px;
    padding: 20px 20px 20px;
    margin-bottom: 10px;
    margin-top: 19px;
    margin-left: 7px;
    }
    .contacts{
        padding: 10px;
    }
    .s2{
        display: flex;
    }
    /*.div_s3{
        flex-direction: column;
        align-items: center;
    }*/
    .burger{
        display: block;
    }
    .nav-active{
        transform: translateX(40px) translateY(40px);
    }
    .u2{
        background:rgba(240, 245, 166, 0.863);
    }
    .u4{
        background:rgba(240, 245, 166, 0.863);
    }
    .u5{
        background:rgb(193,215,229);
    }
    /*.collectiv__img{
        max-width: 250px;
    }
    .triangle-right {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 30px solid #035661;
        margin-top: 170px;
        border-right: 1px solid transparent;
        background-color: rgb(193,215,229);
    }
    .triangle-left {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 30px solid #035661;
        border-left: 1px solid transparent;
        margin-top: 170px;
        background-color: rgb(193,215,229);
    }*/
}




  
  
 
  
     
  
    
      
      




